body {
    background-color: lightblue;
}

img {
    float: left;
    margin-right: 20px;
}

.red-box {
    width: 500px;
    background: rgba(255,0,0,.5);

    float: left;



}

.blue-box{

    width: 500px;
    background: blue;
    color: white;
    float: right;
}

p{
    margin-top: 0px;
    margin-bottom: 15px;
    line-height: 1.4;


}